<!--@subject Pluxee reward purchase confirmation @-->
<!--@vars
{"var customer.name":"Customer Name",
"var product.name":"Product Name",
"var order.serial":"Serial",
"var order.pin":"PIN",
"var order.expires":"Expires"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var customer.name}},</h1>

            <p>{{trans "Thank you for your purchase. Below are the details of your reward:"}}</p>

            <table cellpadding="3" cellspacing="0" border="0">
                <tr>
                    <td><strong>{{trans "Product"}}:</strong></td>
                    <td>{{var product.name}}</td>
                </tr>
                {{depend order.serial}}
                <tr>
                    <td><strong>{{trans "Serial"}}:</strong></td>
                    <td>{{var order.serial}}</td>
                </tr>
                {{/depend}}
                {{depend order.pin}}
                <tr>
                    <td><strong>{{trans "PIN"}}:</strong></td>
                    <td>{{var order.pin}}</td>
                </tr>
                {{/depend}}
                {{depend order.expires}}
                <tr>
                    <td><strong>{{trans "Expires"}}:</strong></td>
                    <td>{{var order.expires}}</td>
                </tr>
                {{/depend}}
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
