<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Pluxee>
            <version>1.0.0</version>
        </LCB_Pluxee>
    </modules>
    <global>
        <blocks>
            <lcb_pluxee>
                <class>LCB_Pluxee_Block</class>
            </lcb_pluxee>
        </blocks>
        <helpers>
            <lcb_pluxee>
                <class>LCB_Pluxee_Helper</class>
            </lcb_pluxee>
        </helpers>
        <models>
            <lcb_pluxee>
                <class>LCB_Pluxee_Model</class>
                <resourceModel>lcb_pluxee_resource</resourceModel>
            </lcb_pluxee>
            <lcb_pluxee_resource>
                <class>LCB_Pluxee_Model_Resource</class>
                <entities>
                    <brand>
                        <table>lcb_pluxee_brand</table>
                    </brand>
                    <category>
                        <table>lcb_pluxee_category</table>
                    </category>
                    <order>
                        <table>lcb_pluxee_order</table>
                    </order>
                    <product>
                        <table>lcb_pluxee_product</table>
                    </product>
                    <product_category>
                        <table>lcb_pluxee_product_category</table>
                    </product_category>
                </entities>
            </lcb_pluxee_resource>
        </models>
        <resources>
            <lcb_pluxee_setup>
                <setup>
                    <module>LCB_Pluxee</module>
                </setup>
            </lcb_pluxee_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LCB_Pluxee before="Mage_Adminhtml">LCB_Pluxee_Adminhtml</LCB_Pluxee>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <lcb_pluxee>
                <use>standard</use>
                <args>
                    <module>LCB_Pluxee</module>
                    <frontName>pluxee</frontName>
                </args>
            </lcb_pluxee>
        </routers>
        <layout>
            <updates>
                <lcb_pluxee>
                    <file>lcb_pluxee.xml</file>
                </lcb_pluxee>
            </updates>
        </layout>
        <csp>
            <img-src>
                <sayreward>*.sayreward.pl</sayreward>
            </img-src>
        </csp>
    </frontend>
</config>
